---
import Logo from "./svgs/Logo.astro";
---

<div class="nav">
  <div class="wrapper">
    <a href="/"><Logo /></a>
    <ul>
      <li><a href="/">Inicio</a></li>
      <li><a href="/servicios">Servicios</a></li>
      <li><a href="#">Nosotros</a></li>
      <li><a href="#">Blog</a></li>
      <li>
        <a href="/login" class="btn button-text"
          ><svg
            width="16"
            height="17"
            viewBox="0 0 16 17"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M15.8948 14.8593C14.8792 13.0768 13.2933 11.6879 11.3924 10.9162C12.3377 10.2072 13.0359 9.21876 13.3882 8.09089C13.7406 6.96302 13.7291 5.75289 13.3554 4.63191C12.9818 3.51093 12.2649 2.53594 11.3063 1.84503C10.3477 1.15413 9.19605 0.782349 8.01444 0.782349C6.83282 0.782349 5.68116 1.15413 4.72258 1.84503C3.76401 2.53594 3.04711 3.51093 2.67345 4.63191C2.29979 5.75289 2.28831 6.96302 2.64063 8.09089C2.99295 9.21876 3.69121 10.2072 4.6365 10.9162C2.73562 11.6879 1.14971 13.0768 0.134073 14.8593C0.0711401 14.9605 0.0291959 15.0733 0.0107336 15.191C-0.00772877 15.3088 -0.00233248 15.429 0.0266018 15.5446C0.055536 15.6602 0.107417 15.7688 0.179162 15.8639C0.250906 15.9591 0.341049 16.0388 0.444231 16.0984C0.547413 16.1581 0.661527 16.1963 0.779791 16.211C0.898054 16.2256 1.01805 16.2163 1.13265 16.1836C1.24725 16.1509 1.35411 16.0956 1.44688 16.0208C1.53965 15.946 1.61643 15.8533 1.67266 15.7482C3.01495 13.4281 5.38543 12.0443 8.01444 12.0443C10.6434 12.0443 13.0139 13.4289 14.3562 15.7482C14.4781 15.9442 14.6714 16.0851 14.8952 16.1411C15.1191 16.1971 15.356 16.1639 15.5558 16.0485C15.7556 15.933 15.9027 15.7444 15.9659 15.5225C16.0292 15.3006 16.0037 15.0627 15.8948 14.8593ZM4.16241 6.41446C4.16241 5.6526 4.38832 4.90785 4.81159 4.27439C5.23486 3.64092 5.83646 3.1472 6.54033 2.85565C7.24419 2.5641 8.01871 2.48782 8.76593 2.63645C9.51315 2.78508 10.1995 3.15195 10.7382 3.69066C11.2769 4.22938 11.6438 4.91575 11.7925 5.66297C11.9411 6.41019 11.8648 7.1847 11.5732 7.88857C11.2817 8.59243 10.788 9.19404 10.1545 9.61731C9.52105 10.0406 8.7763 10.2665 8.01444 10.2665C6.99318 10.2653 6.01408 9.8591 5.29194 9.13696C4.5698 8.41482 4.16358 7.43572 4.16241 6.41446Z"
              fill="#F4F4F4"></path>
          </svg>
           Login</a
        >
      </li>
    </ul>
  </div>
</div>

<style>
  .nav {
    background-color: var(--light);
    width: 100%;
    padding: 24px 0px;
  }

  .nav .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--dark);
  }

  .wrapper ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
    list-style: none;
  }
</style>
